Django==4.2.16
psycopg2-binary==2.9.9
python-dotenv==1.0.1
dj-database-url==2.2.0
gunicorn==21.2.0
whitenoise==6.7.0
spacy==3.7.4
nltk==3.8.1
scikit-learn==1.4.2
numpy==1.26.4
django-cors-headers==4.3.1
requests==2.32.3
